<div class="row">
  <div class="small-12 small-centered columns"><h1 id="page-title">Tasks!</h1></div>
</div>

<%= render "form", task: @task %>

<div class="row">
  <div class="small-12 columns">
    <% if !@tasks.empty? %>
      <% @tasks.each do |importance, task_group| %>
        <div class="row">
          <div id="<%= importance %>" class="small-10 columns small-centered">
            <h4 class="<%= importance %>"><%= importance %></h4>
            <% task_group.each do |task| %>
              <%= render "task", task: task %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
