<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title>ToDo!</title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <nav class="top-bar">
  <ul class="title-area">
    <li class="name">
    <h1><a href="/">ToDo!</a></h1>
    <li class="toggle-topbar menu-icon">
    <a href="#">
      <span>Menu</span>
    </a>
  </ul>
  <section class="top-bar-section">
  <ul class="right">
    <% if user_signed_in? %>
      <li><%= link_to('Lists', lists_path) %></li>
    <% end %>
    <li><a href="about">About</a></li>
    <li><a href="contact">Contact</a></li>
  </ul>
  </sectoin>
  </nav>

  <body>
    <div class="flash">
      <% flash.each do |key, value| %>
        <div data-alert class="alert-box <%= key %>">
          <%= content_tag(:div, value) %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>
    </div>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
